<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Spring Boot Web Application with Thymeleaf</title>
		<!-- Twitter Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
	</head>
<body>
	<h2>halooo</h2>
	<p th:text="'rateamount - '+${rateamount}" ></p>
	<p th:text="'lanes - '+${lanes}" ></p>
	<p th:text="'tollstart - '+${tollstart}" ></p>
	<p th:text="'testProperty - '+${testProperty}" ></p>
	
	
	

</body>
</html>